.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color:lightseagreen;
  min-height:100vh;
  padding-bottom: 5%;
}

.navbar {
  background-color: #17404e;
  color: #fff;
  padding: 10px ;
  text-align: left;
  font-size: large;
}

.nav-links{
  color: #fff;
  
}

.page-header{
  color: #000304;
  margin: auto;
  padding: 2%;
}

.error {
  color: #ff0000;
}

.weather-container {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 50%;
}

.weather-info {
  margin-top: 20px;
}

.weather-info p {
  margin: 5px 0;
  color: #666;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
}

.weather-description {
  font-style: italic;
}

.weather-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.weather-icon img {
  width: 100%;
  height: 100%;
}

.location-icon {
  padding-top: 5px;
  width: 25px;
  height: 25px;
}






